# Introduction to Variables: Strings - Lab

## Introduction
Okay, we have learned about our first data type, the String! Now let's do a little practice with strings. We'll use the methods and functions we introduced in the previous lesson to flex our string-manipulating muscles!

## Objectives

You will be able to:

* Apply string methods to make changes to a string
* Use concatenation to combine strings

## Instructions

Follow the steps below to manipulate the strings and assign the values to the variables below.

**1.** Below, we have a sentence whose cases are all over the place. Let's normalize the cases and make everything lower case except the first letter in the sentence. **hint:** *there is a string method that does this*

In [1]:
sentence = "woW WE LOVE cOdInG and strINGS!".capitalize() #Making the first letter in the sentence to be in capital letter
sentence

'Wow we love coding and strings!'

**2.** Next, we have our Flatiron mantra, but it's not in title case like it should be! Let's fix that and use another string method that makes all strings first letter capitalized.

In [2]:
flatiron_mantra = "learn. love. code.".title() #Making the first letters in each word to be in capital letter
flatiron_mantra

'Learn. Love. Code.'

**3.** The next thing we want to do is practice turning other data types into strings. Below, we have a number `1234`, which happens to be our street number in our address, which is a string. So, let's turn the number into a string so we can eventually add it to our address. The process of linking different strings together is called **concatenation**.

In [3]:
num_to_string = '1234' #'1234' is a string because of the quotes''
num_to_string

'1234'

**4.** Let's take the `num_to_string` and add it to the beginning of our street address below. We need to concatenate the variable to the beginning of our string so that we have our full address all in one string and assigned to the variable `full_address`. **hint:** `None` *is a placeholder in the below code for you to edit*

In [4]:
#Using the concatenation method
full_address = (num_to_string) + " Abc street, Hometown USA"
full_address

'1234 Abc street, Hometown USA'

In [5]:
#Using f string method
print(f"{num_to_string}  Abc street, Hometown USA")

1234  Abc street, Hometown USA

In [6]:
#Using the format method
print("{} Abc street, Hometown USA".format(num_to_string))

1234 Abc street, Hometown USA

**5.** Finally, let's replace some of the characters in a string. Let's say Bart is upset with his family and wants to be adopted by the Flanders family. How would you replace his last name?

**Hint:** We did not directly cover this method in the lesson. Check out the string helper docstring for a list of available methods.

In [7]:
name = "Bart Simpson"
new_name = name.replace( "Simpson", "Flanders")
print(new_name)#Your code here; update the variable name

Bart Flanders

In [8]:
my_name = 'Lemayian Resiato'
my_new_name = my_name.replace('Lemayian', 'Ann') #Replacing Lemayian to a new name which is Ann
print(my_new_name)

Ann Resiato

In [9]:
new_name = "Bart Flanders"
new_name #New name from the adopted family

'Bart Flanders'

## Summary
Great work! In this lab we practiced our skills with strings. We can now manipulate, coerce, and concatenate strings. Remember if there are any things you can't remember or want to discover about code that isn't mentioned in this material, googling is always a great practice!

### Personal Practice ðŸ˜ŽðŸ˜Ž

In [10]:
data_1 = 10.0 
data_1
type(data_1) #Checking the data structure

float

In [11]:
data_2 = 10
data_2
type(data_2) #Checking the data structure

int

In [12]:
data_3 = "Hola, Como estas Mujer!"
print(data_3)
type(data_3)

Hola, Como estas Mujer!

str

In [13]:
students_names = 'ann, LEMAYIAN, roMAN, LEikan, CLAris'.title()
students_names

'Ann, Lemayian, Roman, Leikan, Claris'

In [14]:
#Another method FYI
students_names = ('ann', 'LEMAYIAN', 'roMAN', 'LEikan', 'CLAris')
students_names = tuple(name.title() for name in students_names)
print(students_names)

('Ann', 'Lemayian', 'Roman', 'Leikan', 'Claris')

In [15]:
students_names = 'ann, LEMAYIAN, roMAN, LEikan, CLAris'.capitalize()
students_names

'Ann, lemayian, roman, leikan, claris'

In [16]:
students_names = 'ann, LEMAYIAN, roMAN, LEikan, CLAris'.upper()
students_names

'ANN, LEMAYIAN, ROMAN, LEIKAN, CLARIS'

In [17]:
students_names = 'ann, LEMAYIAN, roMAN, LEikan, CLAris'.lower()
students_names

'ann, lemayian, roman, leikan, claris'

In [18]:
students_names = 'ann, LEMAYIAN, roMAN, LEikan, CLAris'.casefold()
students_names

'ann, lemayian, roman, leikan, claris'

In [19]:
students_names = 'ann, LEMAYIAN, roMAN, LEikan, CLAris'.swapcase() 
#swaping the ones in capital to be in lower case and viceversa
students_names

'ANN, lemayian, ROman, leIKAN, claRIS'

In [20]:
students_names = 'ann, LEMAYIAN, roMAN, LEikan, CLAris'.title()
students_names

'Ann, Lemayian, Roman, Leikan, Claris'